<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CompasDataContext" connectionString="metadata=res://*/CompasModel.csdl|res://*/CompasModel.ssdl|res://*/CompasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.11.0.4;Initial Catalog=MSKDB;user id=MKSDBUser;password=aluskf7y63h;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Compas.AdminUI.Properties.Settings.MKSDBConnectionString"
      connectionString="Data Source=10.11.0.4\\SQLEXPRESS2008R2,44444;Initial Catalog=MKSDB;Persist Security Info=True;User ID=MKSDBUser;Password=aluskf7y63h"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
